@font-face {
  font-family: "Caveat";
  src: url(../fonts/Caveat/Caveat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat normal";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf);
}
@font-face {
  font-family: "Montserrat bold";
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf);
}
.font_Gab {
  font-family: "Caveat";
  font-size: 41px;
}

.font_bold {
  font-family: "Montserrat bold";
}

body {
  margin: auto;
  font-family: "Montserrat normal", arial;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  background: rgb(82, 107, 48);
  background: linear-gradient(90deg, rgb(82, 107, 48) 40%, rgb(89, 116, 47) 60%);
  height: 786px;
}

.mask_img {
  background: rgb(82, 107, 48);
  background: linear-gradient(360deg, rgb(82, 107, 48) 1%, rgba(89, 116, 47, 0.6) 20%);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.heading {
  max-width: 400px;
}

nav {
  max-width: 1320px;
  width: 100%;
}
nav a {
  color: #fff !important;
}

#navbarSupportedContent button {
  background-color: rgb(123, 152, 58);
  border: none;
  border-radius: 0;
  margin-left: -5px;
}

.color_light-green {
  color: rgb(123, 152, 58);
}

.color_green {
  color: #374a2d;
}

.bg_green {
  background: rgb(82, 107, 48);
  background: linear-gradient(90deg, rgb(82, 107, 48) 40%, rgb(89, 116, 47) 60%);
}

.wrap_1100 {
  max-width: 1150px;
  margin: auto;
  padding: 0 12px 0 12px;
}

.img_h700 {
  max-height: 700px;
}

.fixed_menu-bg {
  position: fixed;
  top: 0;
  height: 114px;
  width: 100%;
  background: rgb(82, 107, 48);
  background: linear-gradient(90deg, rgb(82, 107, 48) 40%, rgb(89, 116, 47) 60%);
  -webkit-box-shadow: 0px 8px 8px -5px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: 0px 8px 8px -5px rgba(34, 60, 80, 0.3);
  box-shadow: 0px 8px 8px -5px rgba(34, 60, 80, 0.3);
  z-index: 3;
}

.img_bg2 {
  background-image: url(../../img/header_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img_content {
  max-width: 300px !important;
  margin: auto;
  width: 100%;
}

.bg_green-2 {
  background: rgb(82, 107, 48);
  background: linear-gradient(171deg, rgb(82, 107, 48) 25%, rgb(159, 169, 145) 47%, rgb(209, 209, 209) 72%);
}

.bg_3 {
  background: rgb(209, 209, 209);
  background: linear-gradient(171deg, rgb(209, 209, 209) 39%, rgb(255, 255, 255) 61%);
}

button[disabled] {
  cursor: not-allowed;
}

#product {
  min-height: 600px;
  margin-top: 44px;
}
#product div {
  margin: 0 30px 20px 0;
  max-width: 340px;
  float: left;
}
#product div img {
  border-radius: 6px;
}
#product h1 {
  color: #374a2d;
  text-align: center;
  font-family: "Caveat";
}

#form2 input {
  border-color: rgb(82, 107, 48);
}

#form1, #form2 {
  max-width: 500px;
}

.border_red {
  border: 1px solid red !important;
}

.card:hover {
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.3);
}

.a_hover:hover {
  text-decoration: underline;
}

.fs-10 {
  font-size: 10px;
}

.bg_green-2 .breadcrumb {
  color: #fff !important;
}

.gradient_button {
  background: linear-gradient(151deg, rgb(82, 107, 48) 21%, rgb(125, 157, 129) 49%, rgb(82, 107, 48) 79%);
}

.breadcrumb {
  padding-top: 114px;
}
.breadcrumb a {
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .mobil_menu {
    background: rgb(82, 107, 48);
    background: linear-gradient(90deg, rgb(82, 107, 48) 40%, rgb(89, 116, 47) 60%);
    -webkit-box-shadow: 0px 8px 8px -5px rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 0px 8px 8px -5px rgba(34, 60, 80, 0.3);
    box-shadow: 0px 8px 8px -5px rgba(34, 60, 80, 0.3);
    z-index: 3;
  }
  nav li a {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  #product div {
    float: none;
    margin: auto;
    padding-bottom: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
